<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section id="inicio" style="width: 100%; max-width: 100%; padding-bottom: 7.9rem;" class="section section-lg section-shaped">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div style="padding-top: 12rem !important; padding-bottom: 8.5rem !important;" class="container py-lg-md d-flex">
        <div class="col px-0">
          <div style="justify-content: center;" class="row">
            <div style="padding-left: 0px !important;" class="col-lg-6">
              <div class="contenedor">
                <div style="box-shadow: none !important; background-color: transparent !important;" class="card bg-secondary shadow border-0">

                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <h1 style="font-size: 2.5rem; margin-bottom: 0px;" class="display-2  text-titulo-zerti ">Recuperar Contraseña
                      </h1>
                      <div class="contenedor">
                        <p style="font-size: 1rem; margin-top: -0.5px;" class="lead text-titulo-zerti">
                          Ingresa el correo electrónico asociado a tu cuenta y te enviaremos las instrucciones para restaurar tu contraseña.</p>
                      </div>
                    </div>
                    <form role="form">
                      <div style="text-align: -webkit-center;" class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                        <div style="width: 50%;" class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div>
                          <input class="form-control" placeholder="Correo Electrónico *" type="email" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
                      <div style="display: flex; justify-content: center;" class="text-center">
                        <button routerLink="/login" style="background-color: #fff7e3; border-color: #59320F; width: 335px; color: #59320F;" type="button" class="btn btn-primary my-4">
                          Cancelar</button>
                          <button style="background-color: #59320F; border-color: #59320F; width: 335px;" type="button" class="btn btn-primary my-4">
                            Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  </main>

