<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>people</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Usuarios Administrativos
          </span> </h3>
          <span class="breadcrumb-usuarios-administrativos">
            2. Usuarios Administrativos
          </span>
      </div>
    </div>
    <mat-tab-group style="display: flex;" preserveContent>
      <mat-tab label="1. Usuarios Administrativos">
       <!--  <app-administrative-users-management></app-administrative-users-management> -->
      </mat-tab>
      <mat-tab label="2. Administrativos por IE">
       <!--  <app-student-user-management></app-student-user-management> -->
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
