.page-header-title{
  background-color: #59320f;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 7px;
  box-shadow: 0 3px 4px #0003, 0 3px 3px -2px #00000024, 0 1px 8px #0000001f;
  padding-left: 35px;
}

.spacer-title {
  margin-left: 25px;
}

.ms-2 {
  margin-left: 10px;
}

.breadcrumb-libros-valoracion-final {
  font-size: 15px;
}

.module-text {
  margin-bottom: 5px;
  font-size: 1rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.px-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

::ng-deep .mdc-tab.mdc-tab--active{
  background-color: #fafafa !important;
  font-weight: 900;
  color: #fff;
}


