<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>book_online</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Libros de Valoraciones Finales
          </span> </h3>
          <span class="breadcrumb-libros-valoracion-final">
            5. Libros de Valoraciones Finales
          </span>
      </div>
    </div>
    <mat-tab-group style="display: flex;" preserveContent>
      <mat-tab label="1. Libros de Valoraciones Finales">
      </mat-tab>
      <mat-tab label="2. Libros - Estudiantes">
      </mat-tab>
      <mat-tab label="3. Libros Páginas - Folios">
        <app-paginas-folios></app-paginas-folios>
      </mat-tab>
      <mat-tab label="4. Libros por Años Lectivos">
        <app-libros-annio-lectivo></app-libros-annio-lectivo>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
