<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>book_online</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Libros Digitales de Valoraciones Finales
          </span> </h3>
          <span class="breadcrumb-libros-valoracion-final">
            5. Libros Digitales de Valoraciones Finales
          </span>
      </div>
    </div>
    <mat-tab-group style="display: flex;" preserveContent>
      <mat-tab label="1. Libros de Valoraciones por IE">
      </mat-tab>
      <mat-tab label="2. Estadísticas de Libros por IE">
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
