<h2 style="font-weight: 600; padding-inline: 32px;" mat-dialog-title>Creación de Institución Educativa</h2>
<mat-dialog-content class="mat-dialog-container">
  <form action="">
    <!--Territorial Entity and Zeti Code Row-->
    <div>
      <div class="mb-2">
        <div>
          <mat-form-field style="width: 270px;" appearance="fill" class="ancho-igual specific-select-input fondo-color-input">
            <mat-label style="font-size: 16px; color: rgb(54, 54, 54);">Entidad Territorial</mat-label>
            <div class="mat-form-field-wrapper">
              <input style="font-size: 14px; color: rgb(54, 54, 54);" matInput disabled="true">
            </div>
          </mat-form-field>
          <mat-form-field appearance="fill" class="end-input specific-select-input">
            <mat-label style="font-size: 14px;">Código Zeti</mat-label>
            <div>
              <input style="font-size: 14px;" matInput>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--Educational Institution name Row-->
    <div>
      <div class="row-full-width mb-2">

      </div>
    </div>
    <!--Shortname and NIT Row-->
    <div class="row-crear-institucion">
      <div>
        <div>
          <div class="mb-2">
            <div>
              <mat-form-field style="max-width: 438px; width: 438px;" appearance="fill" class=" ancho-igual specific-select-input">
                <mat-label style="font-size: 14px;">Nombre de Institución Educativa</mat-label>
                <mat-label style="color: red;"> *</mat-label>
                <div class="mat-form-field-wrapper">
                  <input cdkFocusInitial style="font-size: 14px;" matInput>
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!--Class of Institution, Inactive and Zeti Code Row-->
        <div>
          <div class="mb-2">
            <div>
              <mat-form-field appearance="fill" class="ancho-igual specific-select-input">
                <mat-label style="font-size: 14px;">Modalidad Educativa</mat-label>
                <mat-label style="color: red;"> *</mat-label>
                <div class="mat-form-field-wrapper">
                  <mat-select style="font-size: 14px;">
                    <mat-option *ngFor="let clase of clases_institucion"></mat-option>
                  </mat-select>
                </div>
              </mat-form-field>
              <mat-form-field style="margin-left: 0; margin-right: 0;" appearance="fill" class="ancho-igual specific-select-input">
                <mat-label style="font-size: 14px;">NIT</mat-label>
                <mat-label style="color: red;"> *</mat-label>
                <div class="mat-form-field-wrapper">
                  <input style="font-size: 14px;" matInput>
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!--Fila de NIT y Codigo DANE-->
        <div>
          <div class="mb-2">
            <div>
              <mat-form-field appearance="fill" class="ancho-igual specific-select-input">
                <mat-label style="font-size: 14px;">Código DANE</mat-label>
                <mat-label style="color: red;"> *</mat-label>
                <div>
                  <input style="font-size: 14px;" matInput>
                </div>
              </mat-form-field>
              <mat-form-field style="margin-left: 0; margin-right: 0;" appearance="fill" class="ancho-igual specific-select-input">
                <mat-label style="font-size: 14px;">Código TRD</mat-label>
                    <mat-label style="color: red;"> *</mat-label>
                    <div>
                      <input style="font-size: 14px;" matInput>
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
        <!--Fila de Código TRD y Equipo de Servicio Zerti-->
        <div class="row-crear-institucion">
            <div style="width: 438px;">
                <mat-form-field style="margin-left: 10px; margin-right: 0; width: 100%;" appearance="fill" class="ancho-igual specific-select-input">
                  <mat-label style="font-size: 14px;">Equipo de Servicio Zerti</mat-label>
                  <mat-label style="color: red;"> *</mat-label>
                  <div>
                    <mat-select>
                      <mat-option *ngFor="let equipo of equipos"></mat-option>
                    </mat-select>
                  </div>
                </mat-form-field>
              </div>
        </div>
      </div>

      <div class="col4">
        <div mattooltip="Cargar imagen" class="image-upload-container">
          <div class="default-image ancho-50" style="height: 273px;width: auto;">
            <app-image-upload></app-image-upload>
          </div>

        </div>

      </div>
    </div>
    <!--Department, Municipality/District and Village Center Row-->
    <mat-accordion>
      <mat-expansion-panel class="expansion-panel" style="margin: 10px; border: solid; border-color: #d1c194; border-width: thin; margin-top: 0px; margin-right: -3px;">
        <mat-expansion-panel-header class="panel-header" style="height: 35px;">
          <mat-panel-title>
            Datos de Ubicación
          </mat-panel-title>
        </mat-expansion-panel-header>
    <div style="margin-top: 20px; display: flex;">
      <div style="margin-right: 10px; width: 100%;" class="row-crear-institucion mb-2">
          <mat-form-field style="margin-left: 10px; width: 100%;" appearance="fill" class="w50 specific-select-input">
            <mat-label style="font-size: 14px;">Departamento</mat-label>
            <mat-label style="color: red;"> *</mat-label>
            <div class="mat-form-field-wrapper">
              <mat-select>
                <mat-option *ngFor="let departamento of departamentos"></mat-option>
              </mat-select>
            </div>
          </mat-form-field>
          <mat-form-field appearance="fill" class="ancho-mitad specific-select-input">
            <mat-label style="font-size: 14px;">Municipio</mat-label>
            <mat-label style="color: red;"> *</mat-label>
            <div>
              <mat-select>
                <mat-option *ngFor="let municipio of municipios"></mat-option>
              </mat-select>
            </div>
          </mat-form-field>
        </div>
    </div>
    <!--Address, E-mail, Phone numbers and Emblem-->
    <div style="display: flex;">
      <div style="margin-right: 10px; width: 100%;" class="row-crear-institucion mb-2">
        <mat-form-field style="margin-left: 10px; width: 100%;" appearance="fill" class="w50 specific-select-input">
          <mat-label style="font-size: 14px;">Centro Poblado</mat-label>
          <mat-label style="color: red;"> *</mat-label>
          <div class="mat-form-field-wrapper">
            <mat-select>
              <mat-option *ngFor="let departamento of departamentos"></mat-option>
            </mat-select>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho-mitad specific-select-input">
          <mat-label style="font-size: 14px;">Dirección</mat-label>
          <mat-label style="color: red;"> *</mat-label>
          <div class="mat-form-field-wrapper">
            <input matInput type="text">
          </div>
        </mat-form-field>
      </div>
    </div>
    <div style="display: flex;">
      <div style="margin-right: 10px; width: 100%;" class="row-crear-institucion mb-2">
        <mat-form-field style="margin-left: 10px; width: 100%;" appearance="fill" class="w50 specific-select-input">
          <mat-label style="font-size: 14px;">Correo Electrónico</mat-label>
          <mat-label style="color: red;"> *</mat-label>
          <div class="mat-form-field-wrapper">
            <input matInput type="email">
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho-mitad specific-select-input">
          <mat-label style="font-size: 14px;">Teléfono de Contacto</mat-label>
          <mat-label style="color: red;"> *</mat-label>
          <div class="mat-form-field-wrapper">
            <input matInput type="text">
          </div>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!--Persiana para ingresar otros datos en un futuro-->
<!--
<mat-accordion>
  <mat-expansion-panel class="expansion-panel" style="margin: 10px;">
    <mat-expansion-panel-header class="panel-header" style="height: 35px;">
      <mat-panel-title>
        Otros Datos
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion> -->
  </form>
  <div>
    <mat-dialog-actions style="min-height: 78px; padding-top: 0; margin-top: -13px; margin-right: -10px;" align="end">
      <button style="background-color: #ffeab0;" mat-button [mat-dialog-close]="true">Guardar</button>
      <button style="border: solid; border-width: thin; border-color: #59320f; background-color: #59320f; color: white !important;" mat-button mat-dialog-close>Salir</button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
