<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>apartment</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Instituciones Educativas
          </span> </h3>
          <span class="breadcrumb">
            1. Instituciones Educativas
          </span>
      </div>
    </div>

    <mat-tab-group preserveContent>
      <mat-tab label="1. Instituciones Educativas">

        <app-educational-institutions-management></app-educational-institutions-management>

      </mat-tab>

      <mat-tab label="2. Sedes">

        <app-sedes-management></app-sedes-management>

      </mat-tab>

      <mat-tab label="3. Usuarios Administrativos/IE en Custodia">
        <div style="display: flex;">
          <div>
            <app-admin-users></app-admin-users>
          </div>
          <div>
            <app-eduacational-institutions-custody></app-eduacational-institutions-custody>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="4. IEO por Equipos de Servicio">
      </mat-tab>

      <mat-tab label="5. IEO por Entidades Territoriales">
      </mat-tab>
    </mat-tab-group>

  </mat-drawer-content>
</mat-drawer-container>
