<div id="right-sidebar" class="right-sidebar open">
  <div class="v-center justify-content-between navbar-options ps-4 pe-3">
    <h4 class="navbar-title my-0">Configuraciones</h4>
    <button style="position: relative;" (click)="closeSidenav()" mat-icon-button class="close-button">
      <span class="mat-button-wrapper">
        <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color">close</mat-icon>
        </span>
        <span class="mat-ripple mat-button-ripple mat-button-ripple-round">
        </span>
        <span class="mat-button-focus-overlay">
        </span>
      </button>
  </div>
  <div class="user-card">
    <div class="text-center mb-2">
      <img  alt="User Photo" class="user-photo ng-star-inserted" src="https://via.placeholder.com/150">
      <div class="user-name">Peter Munz</div>
    </div>
    <ul class="user-options">
      <li><a> Administrar Cuenta </a></li>
      <li><a>Cerrar Sesión</a></li>
    </ul>
  </div>
  <p class="fs-sm text-muted subtitle">Ventanas de trabajo</p>
  <div class="role-card ng-star-inserted">
    <div matripple="" class="mat-ripple role role-active ng-star-inserted">
      <span class="role-description" (click)="elegirContexto()">
        <mat-icon _ngcontent-eln-c241="" role="img" fontset="material-icons-outlined" class="mat-icon notranslate icon-xxs
        me-1 material-icons-outlined mat-icon-no-color" aria-hidden="true"
        data-mat-icon-type="font" data-mat-icon-namespace="material-icons-outlined"> admin_panel_settings
      </mat-icon>
      <p class="role-name">Administrador General</p>
      </span>
    </div>
    <div matripple="" class="mat-ripple role role-active ng-star-inserted">
      <span class="role-description">
        <mat-icon _ngcontent-eln-c241="" role="img" fontset="material-icons-outlined" class="mat-icon notranslate icon-xxs
        me-1 material-icons-outlined mat-icon-no-color" aria-hidden="true"
        data-mat-icon-type="font" data-mat-icon-namespace="material-icons-outlined"> school
      </mat-icon>
      <p class="role-name">Gestión Operacional IE</p>
      </span>
    </div>
    <div matripple="" class="mat-ripple role role-active ng-star-inserted">
      <span class="role-description">
        <mat-icon _ngcontent-eln-c241="" role="img" fontset="material-icons-outlined" class="mat-icon notranslate icon-xxs
        me-1 material-icons-outlined mat-icon-no-color" aria-hidden="true"
        data-mat-icon-type="font" data-mat-icon-namespace="material-icons-outlined"> account_balance
      </mat-icon>
      <p class="role-name">Gestión Operacional SED</p>
      </span>
    </div>
    <div matripple="" class="mat-ripple role role-active ng-star-inserted">
      <span class="role-description">
        <mat-icon _ngcontent-eln-c241="" role="img" fontset="material-icons-outlined" class="mat-icon notranslate icon-xxs
        me-1 material-icons-outlined mat-icon-no-color" aria-hidden="true"
        data-mat-icon-type="font" data-mat-icon-namespace="material-icons-outlined"> support_agent
      </mat-icon>
      <p class="role-name">Operador de Servicios Zerti</p>
      </span>
    </div>
  </div>
</div>

