<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>handshake</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Proveedores de Bienes y Servicios
          </span> </h3>
          <span class="breadcrumb">
            11. Proveedores de Bienes y Servicios
          </span>
      </div>
    </div>
    <mat-tab-group style="display: flex;" preserveContent>
      <mat-tab label="1. Proveedores Actas y Diplomas">
      </mat-tab>
      <mat-tab label="2. Listado Proveedores por IE">
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
