<div *ngIf="isLandingOrLogin()">
  <app-navbar-landing></app-navbar-landing>
  <app-landing></app-landing>
</div>

<div *ngIf="!isLandingOrLogin()">
    <mat-sidenav-container [hasBackdrop]="false" class="sidenav-container">
      <mat-sidenav #leftSidenav mode="side" opened>
        <app-sidebar *appRecarga="recarga"></app-sidebar>
      </mat-sidenav>

      <mat-sidenav #sidenav mode="over" [@sidenavAnimation]="sidenav._animationState" position="end">
        <app-right-sidebar [rol]="rol"></app-right-sidebar>
      </mat-sidenav>
      <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
        <div class="main_content">
          <app-navbar [sidenav]="sidenav"></app-navbar>
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

