<div class="sidenav_container" (mouseenter)="onSinenavToggle()" (mouseleave)="onSinenavToggle()"
  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">

    <div class="link-container">
      <mat-nav-list>
        <mat-list-item routerLink="home" (click)="selectItem('home')"
        [class.selected]="selectedItem === 'home'" routerLinkActive="selected">
          <mat-icon style="color: #8f5b35;">home</mat-icon>
          <span style="color: transparent;" class="ng-star-inserted"> &nbsp; </span>
          <span [@animateText]="linkText ? 'show' : 'hide'"> Inicio </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="display: flex; font-weight: 400;" *ngFor="let page of pages;
        last as last" [routerLink]="page.link" (click)="selectItem(page.link)"
        [class.selected]="selectedItem === page.link" routerLinkActive="selected">
          <mat-icon style="color: #8f5b35;">{{ page?.icon }}</mat-icon>
          <span mat-line class="ng-star-inserted">{{ page?.id}} </span>
          <span style="font-weight: 400;" mat-line [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>
