<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>square_foot</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Usuarios Estudiantes
          </span> </h3>
          <span class="breadcrumb-estudiantes">
            3. Usuarios Estudiantes
          </span>
      </div>
    </div>
    <mat-tab-group style="display: flex;" preserveContent>
      <mat-tab label="1. Usuarios Estudiantes - Egresados">
        <!-- <app-student-user-management></app-student-user-management> -->
      </mat-tab>
      <mat-tab label="2. Estudiantes - Egresados por IE">
        <!-- <app-student-user-management></app-student-user-management> -->
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
