<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>travel_explore</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Entidades Territoriales
          </span> </h3>
          <span class="breadcrumb">
            9. Entidades Territoriales
          </span>
      </div>
    </div>
    <mat-tab-group style="display: flex;" preserveContent>
      <mat-tab label="1. Entidades Territoriales">
      </mat-tab>
      <mat-tab label="2. IE por Ente Territorial">
      </mat-tab>
      <mat-tab label="3. Estampillas por ET">
      </mat-tab>
      <mat-tab label="4. Departamentos - Municipios">
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
