.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.ng-star-inserted{
  color: #8f5b35;
  font-size: 12px;
  font-weight: 500;
  --mdc-list-list-item-hover-state-layer-color: #ffd563;
  --mdc-list-list-item-hover-state-layer-opacity: 0.3;
  --mdc-list-list-item-focus-state-layer-color: #ffd563;
  --mdc-list-list-item-focus-state-layer-opacity: 0.3;
  --mdc-list-list-item-hover-label-text-color: #924d34;
  --mdc-list-list-item-focus-label-text-color: #924d34;
}

.wout-pd {
  padding: 0;
}

.mdc-list {
  padding: 0;
}

.hola {
  flex: 1;
}

.link-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.link-content {

  text-decoration: none;
  color: #000; /* Ajusta el color del texto según tus necesidades */
}

.mat-divider.mat-divider-inset {
  margin-left: 0px;
}

.fixed-bottom {
  position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 48px;
    z-index: 1;
    background: white;
    border-top: 1px solid #f0f0f0;
}

/* Estilo cuando el mouse pasa sobre el list-item (hover) */
.mat-list-item:hover {
  background-color: #ff0000; /* Color de fondo al hacer hover */
}
