<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>apartment</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Instituciones Educativas
          </span> </h3>
          <span class="breadcrumb-instituciones">
            1. Instituciones Educativas
          </span>
      </div>
    </div>
    <mat-tab-group preserveContent>
      <mat-tab label="1. Instituciones Educativas">
        <!-- <app-educational-institutions-management></app-educational-institutions-management> -->
      </mat-tab>
      <mat-tab label="2. Usuarios Administrativos / IE en Custodia">
        <div class="select">
          <mat-form-field appearance="fill" style="max-width: 20%;" class="ancho-igual specific-select-input">
              <mat-label style="font-size: 16px;  color: #59320f;">Entidad Territorial</mat-label>
              <mat-select tabIndex="0" role="combobox" value="Santiago de Cali">
                 <mat-option *ngFor="let op of territorialEntities" [value]="op">{{op}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="ancho-igual specific-select-input">
              <mat-label style="font-size: 16px;  color: #59320f;">Nombre de Institución Educativa</mat-label>
             <mat-select value="Liceo Departamental">
                <mat-option value="Liceo Departamental">Liceo Departamental</mat-option>
                <mat-option value="Santa Librada">Santa Librada</mat-option>
             </mat-select>
          </mat-form-field>
      </div>
        <div style="display: flex; margin-top: -30px">
          <div>
            <!-- <app-funcionarios></app-funcionarios> -->
          </div>
          <div>
            <!-- <app-eduacational-institutions-custody></app-eduacational-institutions-custody> -->
          </div>
        </div>
      </mat-tab>
      <mat-tab label="3. IEO por Equipos de Servicio">
      </mat-tab>
      <mat-tab label="4. IEO por Entidades Territoriales">
      </mat-tab>
    </mat-tab-group>

  </mat-drawer-content>
</mat-drawer-container>
