<mat-drawer-container>
  <mat-drawer-content>
    <div class="page-header-title">
      <span class="spacer-title"></span>
      <mat-icon>verified_user</mat-icon>
      <div class="ms-2">
        <h3 class="module-text">
          <span></span>
          <span>
            Roles Operacionales
          </span> </h3>
          <span class="breadcrumb-roles-operacionales">
            10. Roles Operacionales
          </span>
      </div>
    </div>
    <mat-tab-group style="display: flex;" preserveContent>
      <mat-tab label="1. Roles Operacionales">
      </mat-tab>
      <mat-tab label="2. Actividades - Permisos por Rol">
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
