html {
  /* overflow: hidden; */
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  background: #fafafa;
}

* {
  -webkit-font-smoothing: antialased;
  -moz-osx-font-smoothing: antialased;
  box-sizing: border-box;
}

/* SPACER */
.spacer {
  flex: 1;
}

.mat-mdc-tab-group {
  --mdc-tab-indicator-active-indicator-color: #fafafa;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: #573509;
  --mat-tab-header-active-label-text-color: #8f5b35;
  --mat-tab-header-active-ripple-color: #8f5b35;
  --mat-tab-header-inactive-ripple-color: #8f5b35;
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: #8f5b35;
  --mat-tab-header-active-hover-label-text-color: #8f5b35;
  --mat-tab-header-active-focus-indicator-color: #fafafa;
  --mat-tab-header-active-hover-indicator-color: #fafafa;
  --mdc-filled-text-field-focus-active-indicator-color: #fafafa;
  --mat-select-focused-arrow-color: #8f5b35;
  --mat-menu-item-hover-state-layer-color: #fff5c2;
  --mat-menu-item-focus-state-layer-color: #fff5c2;
  --mat-table-header-container-height: 50px;
  --mat-table-footer-container-height: 38px;
  --mat-table-row-item-container-height: 38px;
}

.mat-mdc-form-field-input-control {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-size: 14px;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
}

.mat-mdc-tab-body {
   .mat-mdc-tab-body-active {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    flex-grow: 1;
  }
}

.mdc-tab__text-label{
  font-weight: 600;
  color: #573509;
}

.mat-elevation-z8 {
  display: block;;
  margin: 13px;
  -webkit-text-stroke-width: 0.2px;
  font-family: Roboto,Helvetica Neue,sans-serif;
  margin-top: 0.2rem;
}

.mat-mdc-dialog-container {
  padding: 24px;
}

.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: #0000;
  --mat-mdc-button-ripple-color: rgb(0 0 0 / 0%);
}
.mat-mdc-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.mat-mdc-form-field-focus-overlay {
  background-color: rgb(201 201 201 / 72%);
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #8f5b35;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: #8f5b35 !important;
}


.mdc-text-field--outlined .mdc-notched-outline {
  z-index: 1;
  background-color: #0000000a;
}

.mat-ripple-element {
  background-color: #fafafa5e;
}

.mat-mdc-tab-labels {
  background-color:#c3994ca6;
}

.mat-mdc-tab-body-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mat-mdc-list-base {
  --mdc-list-list-item-one-line-container-height: 50px;
  --mdc-list-list-item-two-line-container-height: 64px;
  --mdc-list-list-item-three-line-container-height: 88px;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-elevation-shadow: 0px 11px 15px -7px rgb(0 0 0 / 38%), 0px 24px 38px 3px rgb(0 0 0 / 0%), 0px 9px 46px 8px rgb(0 0 0 / 0%) !important;
  --mdc-dialog-container-shadow-color: #000;
  --mdc-dialog-container-shape: 2px;
  --mdc-dialog-container-elevation: var(--mdc-dialog-container-elevation-shadow);
  outline: 0;
}

.mat-datepicker-content {
  --mat-datepicker-calendar-date-focus-state-background-color: #8f5b3585 !important;
  --mat-datepicker-calendar-date-hover-state-background-color: #8f5b3559 !important;
  --mat-datepicker-toggle-active-state-icon-color: #8f5b35 !important;
  --mat-datepicker-calendar-date-selected-state-background-color: #8f5b35 !important;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #c3994ca6;
  --mdc-protected-button-label-text-color: #fff;
}

.g-bubble-container {
  display: flex;
  gap: 10px;
}

.g-bubble {
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c3994ca6;
  font-size: 12px;
  cursor: pointer;
  transition: 0.1s;
}

.g-bubble:hover {
  background-color: #c3994ca6;
  color: white;
}

.g-bubble__active {
  background-color: #c3994ca6;
  color: white;
}

/* .g-bubble__disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
  color: 919191;
} */

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator {
  background: transparent !important;
}

.mat-mdc-paginator-range-actions {
  margin-right: 12px !important;
}

.mdc-text-field {
  align-items: center !important;
}

.mdc-button {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color:  #573509 !important;
  padding: 0 16px 0 16px !important;
  height: 40px !important;
}
