
.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.px-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}
.container-fluid {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}
.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
}

table {
  width: 100%;
}

.mat-select {
  display: inline-block;
  width: 100%;
  outline: none;
  flex: 1;
  margin-right: 10px;

}

.mat-select-trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 1.125em
}

.select {
  color: #fff;
  display: flex;
  padding-top: 1.5rem;
  width: 100%;
  --mdc-outlined-text-field-focus-outline-color: #59320f;
  --mdc-outlined-text-field-focus-label-text-color: #59320f;
  --mdc-checkbox-selected-focus-icon-color: #59320f;
  --mdc-checkbox-selected-hover-icon-color: #59320f;
  --mdc-checkbox-selected-icon-color: #59320f;
  --mat-option-selected-state-label-text-color: #59320f;
  --mdc-checkbox-selected-pressed-icon-color: #59320f;
  --mdc-checkbox-selected-focus-state-layer-color: #59320f;
  --mdc-checkbox-selected-hover-state-layer-color: #59320f;
  --mdc-checkbox-selected-pressed-state-layer-color: #59320f;
  --mat-option-selected-state-label-text-color: #faccbb;
  --mat-select-focused-arrow-color: #59320f;
  --mdc-filled-text-field-focus-label-text-color: #59320f;

  /*box-shadow: 0 3px 4px #0003, 0 3px 3px -2px #00000024, 0 1px 8px #0000001f;*/
}

.ancho-igual {
  flex: 1;
  margin-left: 13px;
  margin-right: 20px; /* Puedes ajustar este margen según tus necesidades */
  max-width: 50%;
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
}

.header-style {
  background-color: #b3885263 !important;
  color: #59320f;
  font-weight: 900;
  font-size: 16px;
  font-family: 'Inria Sans', sans-serif !important;
}

.paginator-style {
  color: #c3994ca6;
  font-weight: 900;
  font-size: 16px;
  font-family: 'Inria Sans', sans-serif !important;
}

.row-style {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 14px;
}

.mat-mdc-row:hover {
  background-color: #fff5c236;
}

.mat-mdc-menu-item {
  --mat-menu-item-hover-state-layer-color: #fff5c2;
  --mat-menu-item-focus-state-layer-color: #fff5c2;
}

.paginator-container {
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  height: 57px;
  margin-left: auto;
}

.specific-page-input {
  height: 60px;
  padding: 10px;
  width: 60px;
  margin-right: 4px;
  font-size: 15px;

    .mdc-text-field {
      align-items: center !important;
      background-color: transparent !important;
      border: solid;
      border-color: #c3994ca6;
      border-width: 2px;
      --mdc-filled-text-field-active-indicator-height: 0px;
      --mdc-filled-text-field-focus-active-indicator-height: 0px;
      --mdc-filled-text-field-container-shape: 4px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 13px !important;
    }
}

.specific-select-input {
    .mdc-text-field {
      border: solid;
      border-color: lightgrey;
      border-width: thin;
      --mdc-filled-text-field-active-indicator-height: 0;
      --mdc-filled-text-field-focus-active-indicator-height: 0px;
      --mdc-filled-text-field-container-shape: 4px;
    }
}

.specific-name-input {
  .mdc-text-field {
    border: solid;
    border-color: lightgrey;
    border-width: thin;
    --mdc-filled-text-field-active-indicator-height: 0;
    --mdc-filled-text-field-focus-active-indicator-height: 0px;
    --mdc-filled-text-field-container-shape: 4px;
  }

  .mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 180px;
    position: relative;
    box-sizing: border-box;
    margin-left: 47px;
}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

.img-empty-data {
  width: 10rem;
  margin-bottom: 0;
  margin-top: 39px;
}

.h1-empty-data {
  font-family: 'Inria Sans', sans-serif;
  font-size: 17px;
  color: #59320f;
  margin-top: 0;
}

.filter-empty {
  padding-bottom: 5px;
}

.mat-cell.espacios {
  white-space: pre-line;
}

.align-right {
  text-align: right;
}

.mat-mdc-button {
  --mat-mdc-button-persistent-ripple-color: #fff0;
  --mat-mdc-button-ripple-color: rgb(255 255 255 / 10%);
}

.cantidad-instituciones-educativas {
  margin-top: -34px;
  text-align: end;
  margin-right: 0.8rem;
  margin-bottom: -9px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.item-lista {
  height: 20px;
  .mdc-list-item__primary-text {
    font-size: 14px;
  }
}
