.right-sidebar {
  display: block;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  height: 100vh;
  min-height: 100%;
  background: #ffffff;
  transition-duration: .25s;
  transition-timing-function: ease;
  transition-property: right;
  z-index: 4;
}

.right-sidebar.open {
  right: 0;
  box-shadow: 7px 0 70px -9px #00000059;
}

.right-sidebar .navbar-options {
  background: #c3994ca6;
  color: #fff;
  height: 64px;
}

.v-center {
  display: flex;
  align-items: center;
}

.ps-4 {
  padding-left: 1.5rem!important;
}

.pe-3 {
  padding-right: 1rem!important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.right-sidebar .navbar-options .navbar-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 0;
  color: #ffffff;
  font-size: 16px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.user-card {
  margin: 16px 16px 24px;
  padding: 16px 0 0;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  overflow: hidden;
}

.text-center {
  text-align: center!important;
}
.mb-2 {
  margin-bottom: 0.5rem!important;
}

.user-card .user-photo {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: 2px solid #f1f1f1;
  margin: 4px 0 10px;
}

img, svg {
  vertical-align: middle;
}

.user-card .user-name {
  display: block;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 12px;
}

.user-card .user-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-card .user-options li {
  padding: 8px 16px;
  border-top: 1px solid #eee;
  margin: 0;
}

.user-card .user-options li a {
  display: block;
  cursor: pointer;
  color: #000000e0;
  font-size: 14px;
}

.subtitle {
  margin-bottom: 0;
  margin-left: 1rem;
}

.mat-typography p {
  margin: 0 0 12px;
}

.fs-sm {
  font-size: 13px!important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #797979 !important;
}

.role-card {
  margin: 0.5rem 1rem 1rem;
  background: #ffffff;
  overflow: hidden;
}

.role.role-active {
  margin-bottom: 15px;
  border-radius: 10px;
  background: #e9d165a6;
}

.role:hover{
  background: #a76a34ad;
}

.selected {
  background-color: #a76a34ad !important;
}

.color-selected {
  color: #59320f !important;
}


.role::selection {
  background-color: #a76a34ad;
}

.role-active {
  background: #a76a34ad;
}


.role:focus{
  background: #a76a34ad;
}

.role.role-active:link {
  background: #a76a34ad;

}

.active {
  background-color: #59320f;
}

.role {
  cursor: pointer;
  padding: 1.1rem 2.9rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 15px;
  border-radius: 7px;
  background-color: #e9d165a6;
  border-width: thin;
  border-color: transparent;
}

.mat-ripple:not(:empty) {
  transform: translateZ(0);
}
.mat-ripple {
  overflow: hidden;
  position: relative;
}

.role.role-active .role-name {
  color: #59320f;
}

.role .role-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 1px;
}

.role.role-active .role-description {
  color: #59320f;
}

.role .role-description {
  display: flex;
  align-items: center;
  font-size: 12.5px;
  color: #0c0c0cd4;
}

.mat-icon.icon-xxs {
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  line-height: 1rem!important;
}

.me-1 {
  margin-right: 0.25rem!important;
}

ul li:hover {
  background-color: #f0f0f0;
}

.mat-mdc-icon-button .mat-mdc-button-ripple {
  position: relative;
}

